
/*========== GÉNÉRALE ==========*/
/*===============================*/

body {
	padding-top: 3.5rem;
}

footer {
	background-color: #1c3546;
	height: 50px;
}

footer p {
	color: #fff;
	margin-bottom: 0;

	line-height: 50px;
}

header
{
	display: flex;
	height: 550px;
	
	background: url(../img/glacier.jpg) no-repeat center;
	background-size: cover;

	color: #fff;
}

header p {
	font-size: 1.75rem;
	letter-spacing: 2px;
}

h2 {
	font-size: 2.75rem;
	letter-spacing: 1px;	
}

section {
	padding: 60px 0;
}

.container-front-h100 {
	min-height: calc(100vh - 656px);
}

.bg-dark {
	background-color: #1c3546!important;
}

.bgcg {
	background-color: #eee;
}





/*========== HOME ==========*/
/*===========================*/

.presentation {
	margin-bottom: 50px;	
	background-color: #eee;
}

.portrait {
	width: 100%;
	padding: 0 40px;
	border-bottom: 3px solid #1c3546;
	margin-bottom: 30px;
}

.presentation h2 {
	margin-bottom: 30px;
}

.presentation p {
	font-size: 1.1rem;
}

.block-resum {
	margin-top: 60px;
}

.resum-article {
	display: flex;
	flex-direction: column;	
	height: 100%;
	padding: 15px;	

	border: 1px solid #1c3546;
}


.img-resum-article {	
	margin: auto;
	margin: -15px -15px 30px -15px;
	height: 200px;
}

.img-resum-article img {
	height: 100%;
	width: 100%;
	
	object-fit: cover;
}

.content-resum {
	flex: 2;
}

.resum-btn {
	margin-top: 20px;
}



/*========== SINGLE ==========*/
/*=============================*/
.infos-top {
	padding: 8px 0;
	background-color: #eee;	
}

.infos-top p {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	line-height: 0.9rem;
}

.article-content {
	margin-top: 50px;
}


.comments_container {
	background-color: #eee;		
	text-align: center;
}

.comment_container {
	padding-top: 25px;
}

.list-groupe-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reported {
	margin-left: 5px;
}

.list-group-item {
	padding: 0.5rem 1.25rem;
}

.date {
	font-size: 0.9em;
}

.comments_form_container {
	margin-bottom: 50px;
}

.form-group {
	text-align: left!important;
}


/*========== CONTACT ==========*/
/*=============================*/


.contact-title {
	margin-bottom: 25px;
}



.error-container {
	/*height: 100%;*/
	display: flex;

	justify-content: center;
	flex-direction: column;
	align-content: center;
	
}
